# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Django
*.log
db.sqlite3
media/

# Local development settings
local_settings.py

# System files
.DS_Store
Thumbs.db 