{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block welcome_text %}
    <p>Leaderboard</p>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Team Name</th>
            <th>Score</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.score }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'leader_dashboard' %}" class="btn">Back to Dashboard</a>
{% endblock %}
