{% extends 'base.html' %}

{% block welcome_text %}Enter Your Name{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post" action="{% url 'save_player_name' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="player_name">Your Name:</label>
            <input type="text" class="input-field" id="player_name" name="player_name" required>
        </div>
        {% if lobby_code %}
        <input type="hidden" name="lobby_code" value="{{ lobby_code }}">
        {% endif %}
        <div class="button-group">
            <button type="submit" class="btn w-100">Continue</button>
        </div>
    </form>
</div>
{% endblock %} 