{% extends "base.html" %}
{% load static %}

{% block title %}Join Game Session{% endblock %}

{% block content %}
    <div>
        <h2>Join Game Session</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="invite_code">Enter Invite Code:</label>
            <input type="text" 
                   name="code" 
                   id="invite_code" 
                   required 
                   style="width: 200px; font-size: 24px;"
                   value="">
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <button type="submit">Join</button>
        </form>
    </div>
{% endblock %}
